.home-page {
  background-color: #f1f3f5;

  .display-wrapper {
    padding: 4rem 0;
  }

  .countries-view {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }
}
