.home-page {
  background-color: #f1f3f5;

  .display-wrapper {
    padding: 4rem 0;
  }

  .countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 4rem;

    @media (max-width: 950px) {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 2rem;
    }
    @media (max-width: 455px) {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 2rem;
    }
  }
}
