.continent {
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 1rem rgba(0, 0, 0, 0.02);

  .title {
    span {
      color: var(--color-text-dark-1);
    }

    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }

  .stats {
    .stats-list {
      padding: 1rem 0;
      list-style: none;
      columns: 2;
      font-size: 1.6rem;

      li {
        margin-bottom: 0.5rem;

        span {
          font-weight: 600;
          color: var(--color-text-dark-1);
        }
      }

      @media (max-width: 500px) {
        columns: unset;
      }
    }
  }

  .updated-time {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1rem;

    .icon {
      font-size: 2.4rem;
      color: var(--color-text-dark-1);
      font-weight: bold;
    }

    .time {
      font-weight: 600;
      color: var(--color-text-dark-1);
    }
  }

  .countries-wrapper {
    .countries {
      ul {
        list-style: none;
        columns: 2;
        padding: 2rem 4rem;
        border-left: solid 1px #ddd;
        border-right: solid 1px #ddd;
        border-bottom: solid 1px #ddd;

        li {
          margin-bottom: 1rem;
        }

        @media (max-width: 500px) {
          columns: unset;
          padding: 1rem 2rem;
        }
      }

      .view-country-link {
        font-size: 1.6rem;
        font-weight: 500;

        &:link,
        &:visited {
          color: #333;
          text-decoration: none;
          transition: all 0.2s;
        }

        &:hover,
        &:active {
          color: var(--color-text-dark-1);
        }
      }
    }
  }

  .toggle-countries {
    cursor: pointer;
    border: solid 1px #ddd;
    background-color: rgba(0, 17, 40, 0.057);
    font-size: 1.6rem;
    font-family: inherit;
    padding: 1rem 2rem;
    width: 100%;

    .option {
      display: flex;
      align-items: center;
      gap: 2rem;

      .icon-wrapper {
        background-color: #00112834;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 50%;

        .icon {
          font-size: 3rem;
        }
      }

      p {
        font-size: 2rem;
        font-weight: 600;
      }

      @media (max-width: 500px) {
        .icon-wrapper {
          .icon {
            font-size: 2rem;
          }
        }

        p {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }
}
