.filter {
  label {
    display: block;
    flex: 1;
  }

  .select-wrapper {
    display: flex;
    gap: 0.5rem;
    padding-right: 0.5rem;

    select {
      flex: 1;
      padding: 0.6rem 1rem;
      border: #eee solid 1px;
      border-radius: 3px;
      font-family: inherit;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;
      padding: 0.5rem;
      color: #fff;
      font-family: inherit;
      background-color: var(--color-text-dark-3);
    }
  }
}
