.global-stats {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 4rem;

  background-color: rgba(0, 17, 40, 0.119);
  border-radius: 3px;

  ul {
    padding: 1rem 0;
    list-style: none;
    font-size: 1.6rem;
    columns: 2;
    li {
      span {
        font-weight: 600;
        color: var(--color-text-dark-1);
      }
      margin-bottom: 0.6rem;
    }
  }
}
