.header {
  height: 6rem;

  .header-container {
    height: 100%;
    display: flex;
    align-items: center;
    .logo-wrapper {
      margin-right: auto;

      .logo {
        font-weight: 600;
        font-size: 2.4rem;

        color: var(--color-text-dark-3);
        &:link,
        &:visited {
          text-decoration: none;
          transition: all 0.2s;
        }
        &:hover,
        &:active {
          color: var(--color-text-dark-1);
        }
      }
    }
    .nav-list {
      list-style: none;
      display: flex;
      gap: 4rem;
      li {
        a {
          font-size: 1.6rem;
          font-weight: 600;

          &:link,
          &:visited {
            color: #333;
            text-decoration: none;
            transition: all 0.2s;
          }
          &:hover,
          &:active {
            color: var(--color-text-dark-1);
          }
        }
      }
    }
  }
}
