.header {
  height: 6rem;

  .header-container {
    height: 100%;
    display: flex;
    align-items: center;

    .logo-wrapper {
      margin-right: auto;

      .logo {
        font-weight: 600;
        font-size: 2.4rem;
        color: var(--color-text-dark-3);

        &:link,
        &:visited {
          text-decoration: none;
          transition: all 0.2s;
        }

        &:hover,
        &:active {
          color: var(--color-text-dark-1);
        }

        @media (max-width: 500px) {
          font-size: 1.8rem;
        }
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;

      .popper-wrapper {
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 1rem;
        background-color: #fff;
        z-index: 700;
        width: 24rem;
        padding: 2rem;
        border-radius: 4px;
        box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .popper-btn {
          padding: 1rem 1.5rem;
          border: none;
          border-radius: 3px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }

        .sort-btn {
          background-color: var(--color-text-dark-3);
        }

        .reset-sort-btn {
          background-color: #333;
          margin-bottom: 2rem;
        }

        .btn-icon {
          font-size: 2.2rem;
        }

        .reset-btn-icon {
          transform: rotate(-90deg);
        }

        .nav-link {
          &:link,
          &:visited {
            text-decoration: none;
            color: var(--color-text-dark-3);
          }

          display: none;

          @media (max-width: 500px) {
            display: block;
          }
        }
      }
    }

    .nav-list {
      list-style: none;
      display: flex;
      gap: 4rem;
      margin-right: 4rem;

      li {
        a {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1;

          &:link,
          &:visited {
            color: #4b4b4b;
            text-decoration: none;
            transition: all 0.2s;
          }

          &:hover,
          &:active {
            color: var(--color-text-dark-1);
          }
        }
      }

      @media (max-width: 500px) {
        gap: 1rem;
        display: none;
      }
    }
  }
}

.adjustments-icon,
.back-icon,
.close-icon {
  font-size: 2.4rem;
  color: var(--color-text-dark-3);
  cursor: pointer;
}

.back-icon {
  transform: rotate(90deg);
}
